html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
    font-size: 10px;
    background-color: #FFF;
}

button {
    font-family: "Josefin Sans", sans-serif;
}

#no-js {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFF;
    align-content: center;
    text-align: center;
    font-size: 5rem;
    z-index: 9999;
}

#loader {
    width: 100%;
    height: 100%;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    opacity: 1;
    transition: all 0.3s;

    &.hide {
        z-index: -2;
        opacity: 0;
    }

    > .anim {
        width: 80px;
        height: 80px;
        background-image: url(../img/loader.gif);
        background-size: contain;
    }
    > .text {
        font-size: 3rem;
        padding: 10px 0;
    }
}

hbnb-header {
    width: 100%;
    border-bottom: 2px solid #C5C5FF;
    padding: 10px;
    display: flex;
    box-sizing: border-box;

    .content {
        flex: 1;

        .title {
            font-size: 36px;
            font-weight: 700;
            font-style: italic;
        }
        .subtitle {
            font-size: 24px;
            padding-left: 5px;
        }
    }

    .status {
        background-color: #F5F5F5;
        border-radius: 5px;
        padding: 5px;
        border: 1px solid #CCC;
        display: flex;
        align-items: center;

        > .txt {
            padding: 0 5px;
            font-size: 1.4rem;
        }

        > .bubble {
            width: 30px;
            height: 30px;
            border-radius: 20px;
            display: block;

            &.ok {
                background-color: green;
            }
            &.down {
                background-color: red;
            }
        }
    }
}

hbnb-search-form {
    width: 100%;
    background: linear-gradient(90deg,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 20%, rgba(0,0,0,0.2) 80%, rgba(0,0,0,0) 100%);
    display: block;

    .contents {
        margin: 0 auto;
        max-width: 1280px;
        display: flex;
        font-size: 1.6rem;
        padding: 10px;

        // Shared styles between the destination and amenities menu sections
        > .destination, .amenities {
            > .title {
                font-size: 2.2rem;
                border-bottom: 1px solid #999;
                margin-bottom: 10px;
                padding-top: 5px;
            }
    
            > .choice {
                font-size: 1.6rem;
            }
        }

        > .destination {
            flex: 7;
        }
    
        > .amenities {
            margin-left: 20px;
            flex: 4;

            .title {
                display: flex;

                >.text {
                    flex: 1;
                }
            }

            .choice {
                position: relative;

                button {
                    padding: 5px 5px 2px 5px;
                    cursor: pointer;

                    > .arrows {
                        display: inline-block;
                        transition: all 0.3s;
                    }
                }
            }
        }

        > .search {
            width: 160px;
            margin-left: 20px;
            align-items: center;
    
            > button {
                width: 100%;
                height: 100%;
                font-weight: 500;
                font-size: 2rem;
                cursor: pointer;
            }
        }
    }
}

hbnb-amenities {
    #amenities-counter {
        font-size: 1.2rem;
        position: absolute;
        right: 0;
        top: -26px;

        &[state=hide] {
            display: none;
        }
    }

    #amenities-submenu {
        width: 280px;
        background-color: #E5E5E5;
        padding: 10px;
        border-radius: 3px;
        top: 30px;
        // right: 0;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
        border: 1px solid #999;
        position: absolute;
        transition: all 0.3s;
    
        &[state=hide] {
            opacity: 0;
            z-index: -2;
            right: -50px;
        }
    
        &[state=show] {
            opacity: 1;
            z-index: 2;
            right: 0;
    
            // the arrows in the button point down when the submenu is open
            // for this to work, the html for the submenu must be placed before the button html
            ~ #btn-specific-amenities-select .arrows {
                transform: rotate(90deg);
            }
        }
    
        > .instruct {
            font-size: 1.6rem;
            border-bottom: 1px solid #999;
            padding-bottom: 5px;
            margin-bottom: 5px;
        }
    
        > .items {
            display: flex;
            flex-wrap: wrap;
        }
    
        >.confirm {
            padding-top: 10px;
            border-top: 1px solid #999;
            text-align: center;
    
            button {
                width: 120px;
                cursor: pointer;
            }
        }
    }
}

hbnb-radio {
    > label {
        user-select: none; // prevent accidental highlighting of the text when choosing option
        padding: 8px 5px 5px 5px;
        border: 1px solid rgba(0,0,0,0);
        display: inline-block;

        &:hover {
            border: 1px solid rgba(0,0,0,0.3);
            background-color: #E5E5E5;
            border-radius: 5px;
            cursor: pointer;
        }
        &:active {
            border: 1px solid rgba(0,0,0,0.5);
            background-color: #C5C5C5;
        }

        > input[type=radio] {
            margin-right: 0px;
        }
    }
}

hbnb-checkbox {
    padding: 5px 0;

    label {
        padding: 5px 8px 2px 8px;
        margin: 5px;
        user-select: none;
        cursor: pointer;
        border-radius: 3px;

        &:hover {
            background-color: #D5D5D5;
        }

        > input {
            margin: 0;
        }
    }
}

hbnb-search-results {
    width: 100%;
    font-size: 1.8rem;
    padding-bottom: 50px;
    display: block;

    ul, li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    > .none {
        width: 100%;
        padding: 40px 0;
        text-align: center;
    }

    > .listings {
        > .country_group {
            background-color: rgba(0,0,0,0.1);
            padding: 10px;
            margin: 10px;

            > .country_name {
                font-size: 3.2rem;
                margin: 10px 0;
                padding: 5px 0;

                .flag {
                    font-family: "Flags";
                }
            }

            > .cities {
                > .city_group {
                    background-color: rgba(0,0,0,0.1);
                    padding: 10px;

                    > .city_name {
                        font-size: 2.6rem;
                        margin-bottom: 10px;
                        padding: 8px 0;
                    }
                }
            }
        }

        .place {
            background-color: rgba(0,0,0,0.1);
            padding: 10px;
            margin-bottom: 5px;

            > .name {
                font-size: 2rem;
                border-bottom: 1px solid #999;
                margin-bottom: 10px;
                padding: 10px 0;
            }

            > .details {
                font-size: 1.4rem;
                position: relative;
                display: flex;

                > div {
                    height: 52px;
                    margin-right: 10px;
                    padding: 0 5px;

                    &:nth-child(2n) {
                        background-color: rgba(255,255,255,0.2);
                    }
                }

                > .price {
                    width: 120px;

                    > .digits {
                        font-size: 4rem;
                    }

                    > .pax{
                        font-size: 1.2rem;
                    }
                }

                > .description {
                    width: 280px;
                    font-size: 1.6rem;
                    line-height: 1.3;
                    display: flex;
                    align-items: center;
                }

                > .address {
                    width: 300px;
                    line-height: 1.3;
                    display: flex;
                    align-items: center;
                }

                > .amenities {
                    flex: 1;
                    display: flex;
                    align-items: center;

                    > span {
                        background-color: rgba(255,255,255,0.4);
                        border-radius: 16px;
                        padding: 8px 8px 5px 8px;
                        margin-right: 5px;
                        line-height: 1.4rem;
                    }
                }

                > .accommodations {
                    font-size: 2rem;
                    position: absolute;
                    top: -45px;
                    right: 0;
                    margin-right: 0;

                    > span {
                        margin-left: 10px;

                        > i {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
}

hbnb-footer {
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    text-align: center;
    border-top: 1px solid #CCC;
    background-color: #FFF;
    padding: 10px;
    box-sizing: border-box;
}