html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 10px;
  background-color: #FFF;
}

button {
  font-family: "Josefin Sans", sans-serif;
}

#no-js {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FFF;
  align-content: center;
  text-align: center;
  font-size: 5rem;
  z-index: 9999;
}

#loader {
  width: 100%;
  height: 100%;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  opacity: 1;
  transition: all 0.3s;
}
#loader.hide {
  z-index: -2;
  opacity: 0;
}
#loader > .anim {
  width: 80px;
  height: 80px;
  background-image: url(../img/loader.gif);
  background-size: contain;
}
#loader > .text {
  font-size: 3rem;
  padding: 10px 0;
}

hbnb-header {
  width: 100%;
  border-bottom: 2px solid #C5C5FF;
  padding: 10px;
  display: flex;
  box-sizing: border-box;
}
hbnb-header .content {
  flex: 1;
}
hbnb-header .content .title {
  font-size: 36px;
  font-weight: 700;
  font-style: italic;
}
hbnb-header .content .subtitle {
  font-size: 24px;
  padding-left: 5px;
}
hbnb-header .status {
  background-color: #F5F5F5;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #CCC;
  display: flex;
  align-items: center;
}
hbnb-header .status > .txt {
  padding: 0 5px;
  font-size: 1.4rem;
}
hbnb-header .status > .bubble {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  display: block;
}
hbnb-header .status > .bubble.ok {
  background-color: green;
}
hbnb-header .status > .bubble.down {
  background-color: red;
}

hbnb-search-form {
  width: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0.2) 80%, rgba(0, 0, 0, 0) 100%);
  display: block;
}
hbnb-search-form .contents {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  font-size: 1.6rem;
  padding: 10px;
}
hbnb-search-form .contents > .destination > .title, hbnb-search-form .contents .amenities > .title {
  font-size: 2.2rem;
  border-bottom: 1px solid #999;
  margin-bottom: 10px;
  padding-top: 5px;
}
hbnb-search-form .contents > .destination > .choice, hbnb-search-form .contents .amenities > .choice {
  font-size: 1.6rem;
}
hbnb-search-form .contents > .destination {
  flex: 7;
}
hbnb-search-form .contents > .amenities {
  margin-left: 20px;
  flex: 4;
}
hbnb-search-form .contents > .amenities .title {
  display: flex;
}
hbnb-search-form .contents > .amenities .title > .text {
  flex: 1;
}
hbnb-search-form .contents > .amenities .choice {
  position: relative;
}
hbnb-search-form .contents > .amenities .choice button {
  padding: 5px 5px 2px 5px;
  cursor: pointer;
}
hbnb-search-form .contents > .amenities .choice button > .arrows {
  display: inline-block;
  transition: all 0.3s;
}
hbnb-search-form .contents > .search {
  width: 160px;
  margin-left: 20px;
  align-items: center;
}
hbnb-search-form .contents > .search > button {
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 2rem;
  cursor: pointer;
}

hbnb-amenities #amenities-counter {
  font-size: 1.2rem;
  position: absolute;
  right: 0;
  top: -26px;
}
hbnb-amenities #amenities-counter[state=hide] {
  display: none;
}
hbnb-amenities #amenities-submenu {
  width: 280px;
  background-color: #E5E5E5;
  padding: 10px;
  border-radius: 3px;
  top: 30px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #999;
  position: absolute;
  transition: all 0.3s;
}
hbnb-amenities #amenities-submenu[state=hide] {
  opacity: 0;
  z-index: -2;
  right: -50px;
}
hbnb-amenities #amenities-submenu[state=show] {
  opacity: 1;
  z-index: 2;
  right: 0;
}
hbnb-amenities #amenities-submenu[state=show] ~ #btn-specific-amenities-select .arrows {
  transform: rotate(90deg);
}
hbnb-amenities #amenities-submenu > .instruct {
  font-size: 1.6rem;
  border-bottom: 1px solid #999;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
hbnb-amenities #amenities-submenu > .items {
  display: flex;
  flex-wrap: wrap;
}
hbnb-amenities #amenities-submenu > .confirm {
  padding-top: 10px;
  border-top: 1px solid #999;
  text-align: center;
}
hbnb-amenities #amenities-submenu > .confirm button {
  width: 120px;
  cursor: pointer;
}

hbnb-radio > label {
  user-select: none;
  padding: 8px 5px 5px 5px;
  border: 1px solid rgba(0, 0, 0, 0);
  display: inline-block;
}
hbnb-radio > label:hover {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #E5E5E5;
  border-radius: 5px;
  cursor: pointer;
}
hbnb-radio > label:active {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: #C5C5C5;
}
hbnb-radio > label > input[type=radio] {
  margin-right: 0px;
}

hbnb-checkbox {
  padding: 5px 0;
}
hbnb-checkbox label {
  padding: 5px 8px 2px 8px;
  margin: 5px;
  user-select: none;
  cursor: pointer;
  border-radius: 3px;
}
hbnb-checkbox label:hover {
  background-color: #D5D5D5;
}
hbnb-checkbox label > input {
  margin: 0;
}

hbnb-search-results {
  width: 100%;
  font-size: 1.8rem;
  padding-bottom: 50px;
  display: block;
}
hbnb-search-results ul, hbnb-search-results li {
  margin: 0;
  padding: 0;
  list-style: none;
}
hbnb-search-results > .none {
  width: 100%;
  padding: 40px 0;
  text-align: center;
}
hbnb-search-results > .listings > .country_group {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px;
}
hbnb-search-results > .listings > .country_group > .country_name {
  font-size: 3.2rem;
  margin: 10px 0;
  padding: 5px 0;
}
hbnb-search-results > .listings > .country_group > .country_name .flag {
  font-family: "Flags";
}
hbnb-search-results > .listings > .country_group > .cities > .city_group {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
}
hbnb-search-results > .listings > .country_group > .cities > .city_group > .city_name {
  font-size: 2.6rem;
  margin-bottom: 10px;
  padding: 8px 0;
}
hbnb-search-results > .listings .place {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 5px;
}
hbnb-search-results > .listings .place > .name {
  font-size: 2rem;
  border-bottom: 1px solid #999;
  margin-bottom: 10px;
  padding: 10px 0;
}
hbnb-search-results > .listings .place > .details {
  font-size: 1.4rem;
  position: relative;
  display: flex;
}
hbnb-search-results > .listings .place > .details > div {
  height: 52px;
  margin-right: 10px;
  padding: 0 5px;
}
hbnb-search-results > .listings .place > .details > div:nth-child(2n) {
  background-color: rgba(255, 255, 255, 0.2);
}
hbnb-search-results > .listings .place > .details > .price {
  width: 120px;
}
hbnb-search-results > .listings .place > .details > .price > .digits {
  font-size: 4rem;
}
hbnb-search-results > .listings .place > .details > .price > .pax {
  font-size: 1.2rem;
}
hbnb-search-results > .listings .place > .details > .description {
  width: 280px;
  font-size: 1.6rem;
  line-height: 1.3;
  display: flex;
  align-items: center;
}
hbnb-search-results > .listings .place > .details > .address {
  width: 300px;
  line-height: 1.3;
  display: flex;
  align-items: center;
}
hbnb-search-results > .listings .place > .details > .amenities {
  flex: 1;
  display: flex;
  align-items: center;
}
hbnb-search-results > .listings .place > .details > .amenities > span {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  padding: 8px 8px 5px 8px;
  margin-right: 5px;
  line-height: 1.4rem;
}
hbnb-search-results > .listings .place > .details > .accommodations {
  font-size: 2rem;
  position: absolute;
  top: -45px;
  right: 0;
  margin-right: 0;
}
hbnb-search-results > .listings .place > .details > .accommodations > span {
  margin-left: 10px;
}
hbnb-search-results > .listings .place > .details > .accommodations > span > i {
  margin-right: 5px;
}

hbnb-footer {
  width: 100%;
  height: 40px;
  position: fixed;
  bottom: 0;
  text-align: center;
  border-top: 1px solid #CCC;
  background-color: #FFF;
  padding: 10px;
  box-sizing: border-box;
}

/*# sourceMappingURL=index.css.map */
