<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../static/fontawesome/css/all.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="../static/css/index.css">
    <link rel="icon" href="../static/img/favicon.ico" />
    <script type="text/javascript" src="../static/js/index.js"></script>
    <title>HBnB Evolution Part 03</title>
</head>
<body pg-name="index" js="off">
    {% include "header.html" %}

    <div id="no-js">
        <!-- There will be a brief flash-of-unstyled-content where this message appears -->
        <!-- How do we fix this this? -->
        <h1>Please enable Javascript in your browser to view the site!</h1>
    </div>

    <section id="menu">
        <form class="contents" action="/" method="post">
            <div class="destination">
                <div class="title">Destination</div>
                <div class="choice">
                    <!-- Don't forget that this html page is also used to display the search results -->
                    <!-- The chunk of code below will re-select the 'All' radio button if it was chosen previously -->
                    {% set all_dest_checked = "checked" %}
                    {% if selected and "destination" in selected %}
                        {% if selected["destination"] != "" %}
                            {% set all_dest_checked = "" %}
                        {% endif %}
                    {% endif %}
                    <span>
                        <label>
                            <input type="radio" name="destination-radio-group" value="" {{ all_dest_checked }} />
                            <span>All</span>
                        </label>
                    </span>
                    {% for country in countries %}
                        <!-- Don't forget that this html page is also used to display the search results -->
                        <!-- The chunk of code below will re-select the radio button for the country chosen previously during form submission -->
                        {% set specific_dest_checked = "" %}
                        {% if selected and "destination" in selected %}
                            {% if selected["destination"] == country.code %}
                                {% set specific_dest_checked = "checked" %}
                            {% endif %}
                        {% endif %}
                    <span>
                        <label>
                            <input type="radio" name="destination-radio-group" value="{{ country.code }}" {{ specific_dest_checked }} />
                            <span>{{ country.name }}</span>
                        </label>
                    </span>
                    {% endfor %}
                </div>
            </div>
            <div class="amenities">
                <div class="title">
                    <span class="text">Amenities</span>
                    <span class="selected" state="hide">
                        <span class="count">0</span>
                        <span>selected</span>
                    </span>
                </div>
                <div class="choice">
                    <!-- Same as with the destination radio inputs, we re-select what was previously selected during form submission -->
                    {% set all_amen_checked = "checked" %}
                    {% set specific_amen_checked = "" %}
                    {% if selected and "amenities" in selected %}
                        {% if selected["amenities"] != "" and selected["amenities"]|length > 0 %}
                            {% set all_amen_checked = "" %}
                            {% set specific_amen_checked = "checked" %}
                        {% endif %}
                    {% endif %}
                    <span>
                        <label>
                            <input type="radio" name="amenities-radio-group" value="" {{ all_amen_checked }} />
                            <span>Anything</span>
                        </label>
                    </span>
                    <span class="specific">
                        <label>
                            <input type="radio" name="amenities-radio-group" value="specific" {{ specific_amen_checked }} />
                            <span>Specific Ones</span>
                            <button id="btn-specific-amenities-select" type="button">
                                <span>Please select</span>
                                <span class="arrows">&raquo;</span>
                            </button>
                        </label>
                    </span>
                    <div id="amenities-submenu" state="hide">
                        <div class="instruct">
                            Choose the ones that you want
                        </div>
                        <div class="items">
                            {% set amenity_item_selected = "checked" %}
                            {% for amenity in amenities %}
                                <!-- Re-select the checkboxes that were previously chosen -->
                                {% if selected and "amenities" in selected %}
                                    {% if selected["amenities"] != "" and selected["amenities"]|length > 0 %}
                                        {% set amenity_item_selected = "" %}
                                        {% if amenity.id in selected["amenities"] %}
                                            {% set amenity_item_selected = "checked" %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            <label>
                                <input type="checkbox" name="amenities-specific-group[]" value="{{ amenity.id }}" {{ amenity_item_selected }}>
                                <span>{{ amenity.name }}</span>
                            </label>
                            {% endfor %}
                        </div>
                        <div class="confirm">
                            <button id="btn-specific-amenities-ok" type="button">OK</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search">
                <button id="btn-menu-search" type="submit">Search &raquo;</button>
            </div>
        </form>
    </section>
    <section id="results">
        {% if places %}
            {% include "results.html" %}
        {% else %}
            <div class="none">
                <h1>Please run the Search above to find available properties!</h1>
            </div>
        {% endif %}
    </section>

    {% include "footer.html" %}
</body>
</html>